.macbook {
    width: 100%;
    display: flex;
    user-select: none;
    justify-content: center;
    z-index: 2;

    position: fixed;
    top: 85%;
    /* background-color: blue; */
}

.icon-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.icon-box img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.icon-box:hover img {
    transform: scale(1.15);
}

.icon-label {
    position: absolute;
    top: -45px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 8px;
    padding: 3px 8px;
    border-radius: 6px;
    opacity: 0;
    transform: translateY(5px);
    pointer-events: none;
    transition: all 0.s linear;
    white-space: nowrap;
}

.icon-box:hover .icon-label {
    opacity: 1;
    transform: translateY(0);
}

.maccenter {
    max-width: 565px;
    padding: 1vw 2vw;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    background: #ffffff38;
    display: flex;
    gap: 1em;
}

.icon-box img {
    width: 41px;
    height: 40px;
    transition: transform 0.3s ease;
    object-fit: cover;
    will-change: transform;
}

.mcol {
    display: flex;
    gap: 0.89em;
}

.m2col {
    display: flex;
    gap: 1em;
}

.line {
    width: 1px;
    height: 35px;
    background-color: #d6d6d680;
}



@media (max-width:768px) {
    .macbook {
        flex-direction: column;
        top: 5%;
        align-items: flex-start;
        justify-content: center;
    }

    .line {
        display: none;
    }

    .m2col,
    .mcol {
        flex-direction: column;
    }

    .maccenter {
        flex-direction: column;
    }
}


.popup {
    width: 40%;
    position: fixed;
    left: 50%;
    opacity: 0.8;overflow-y: auto;
    animation: slideUp 0.4s ease forwards;
    transition: opacity 0.2s ease;
    top: 15%;
    height: 64vh;
    animation: slideUp 0.4s ease forwards;
    /* transform: translate(-50%, -50%); */
    background-color: rgb(218, 211, 211);


}.prcon{
    display: flex;flex-direction: column;gap: 0.3em;
}
.prcon:nth-child(2){
    color: #000000;
}
.info-gallery{
    padding: 2vw 2vw;
}
.out h1{
    font-size: 0.88em;margin-left: 35px;
}
.log {
    width: 20%;
    top: 50%;
    opacity: 0.8;
    animation: slideUp 0.4s ease forwards;
    transition: opacity 0.2s ease;
color: #fff;

    animation: slideUp 0.4s ease forwards;
    
    position: fixed;display: flex;
    flex-direction: column;gap: 0.1em;
    background: #000000;border-radius: 10px;
}

.log1 {
   border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;background: #303030;
    font-size: 11px;
    text-transform: capitalize;
    padding: 0.3vw 1vw;
}
.log2{background: #303030;border-radius: 10px;
    display: flex; padding: 1vw 1vw;gap: 1em;font-size: 13px;
}
.log2 button{width: 150px;font-weight: 600;font-size: 10px;
    background-color: #2E62D1;color: #fff;height: 3vh;

}
.end{
    display: flex;align-items: end;justify-content: end;
}
.turning{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}
@keyframes slideUp {
    from {
        transform: scale(0.5) translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(-50%, 0);
        opacity: 1;
    }
}


.img img{
 width: 41px;
    height: 40px;
}


