
.log {
    width: 20%;
    top: 50%;
    opacity: 0.8;
    animation: slideUp 0.4s ease forwards;
    transition: opacity 0.2s ease;
color: #fff;

    animation: slideUp 0.4s ease forwards;
    
    position: fixed;display: flex;
    flex-direction: column;gap: 0.1em;
    background: #000000;border-radius: 10px;
}

.log1 {
   border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;background: #303030;
    font-size: 11px;
    text-transform: capitalize;
    padding: 0.3vw 1vw;
}
.log2{background: #303030;border-radius: 10px;
    display: flex; padding: 1vw 1vw;gap: 1em;font-size: 13px;
}
.log2 button{width: 150px;font-weight: 600;font-size: 10px;
    background-color: #2E62D1;color: #fff;height: 3vh;

}
.end{
    display: flex;align-items: end;justify-content: end;
}
.turning{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}
@keyframes slideUp {
    from {
        transform: scale(0.5) translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(-50%, 0);
        opacity: 1;
    }
}