.resume {
    z-index: 1000;
    width: 40%;
    transform: scale(0.8);
    height: 60vh;
    position: fixed;
    max-width: 614px;
    animation: slidein 0.4s ease forwards;
    left: 50%;
    top: 22%;

    overflow-y: auto;
    border-color: rgba(0, 0, 0, 0.25);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(239 235 234);
    padding: 0.6vw 0.3vw;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0px;
    opacity: 1;

}

@keyframes slidein {
    from {
        transform: scale(0.7);
        opacity: 0.3;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cvalligner {
    display: flex;
}

.cvleft {
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 0.4;
}

.tab {
    height: 20px;
    align-items: center;
    border-radius: 4px;
    width: 100%;
    display: flex;
    padding: 0.2vw 0.2vw;
    justify-content: space-between;
    will-change: transform;
    transform: scale(1);
    transition: 0.3s ease width;
}

.tab:hover {
    background-color: #d2cccc85;
    width: 95%;
}

.tab h1 {
    font-size: 12px;
}

.tab h1:nth-child(2) {
    color: #606060;
}

.rightmain {
    padding: 1vw 1vw;
}

.cvright {
    flex: 2;
    background-color: rgb(255 255 255);
}

.headright {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 600;
    padding: 1vw 0.1vw;
    line-height: 126%;

}

.skills {
    display: flex;
    font-weight: 400;
    flex-direction: column;
    gap: 0.3em;
}

.bluestyle {
    width: 13px;
    border-radius: 50px;
    display: flex;
    text-align: center;
    height: 13px;
    background: #fcbc26;
    gap: 1em;
}

.bluestyle p {
    font-size: 12px;
    white-space: nowrap;
    font-weight: 400;
}

.bluestyle h4 {
    font-size: 7px;
    color: rgb(255, 255, 255);
}



/* cv */
.exp {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1vw 1vw;
}

.tableexp {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.exp h1 {
    font-size: 13px;
}



.worked-with {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1vw 1vw;
}

.worklist {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.worked-with h1 {
    font-size: 13px;
}


.indirectly,
.education {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1vw 1vw;
}

.indirectly-colum,
.educol {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.indirectly h1,
.education h1 {
    font-size: 13px;
}

.boximg {
    display: flex;
    flex-wrap: wrap;
    padding: 0.2vw 0.2vw;
}

.intrested {
    width: 227.2px;
    height: 283.73px;
}

/* ::-webkit-scrollbar {
    display: none;
} */