/* === Base Container === */
.Absolutly {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  user-select: none;
  overflow: hidden;

}

.dragmain {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dragmain:hover .dragimg {
  transform: scale(1.3);

  border-radius: 8px;backdrop-filter: blur(5px);
  background-color: #C9C8C9;

}


.dragmain:hover .dragp {

  background:#0073FF;

}

.dragp {
  border-radius: 5px;
  font-size: clamp(10px, 1vw, 14px);
  padding: 0.3vw 0.3vw;
  text-align: center;
  color: #fffefc;
  transition: 0.3s ease all;
  text-shadow: 1px 1px 1px black;


}

.dragimg {  padding: 8px 8px;
  width: 70px;
  transform: scale(1);border-radius: 5px;
  transition: 0.3s ease all;
  height: 70px;
}





.info-panell {
  z-index: 1000;
  width: 40%;
  transform: translate(-50%, -50%);
  height: 60vh;
  position: absolute;

  left: 50%;animation: slideUp 0.3s ease forwards;
  top: 20%;
  overflow:auto;
  border-color: rgba(0, 0, 0, 0.25);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(239 235 234);
  padding: 0.6vw 0.3vw;
scroll-behavior:smooth;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0px;
  opacity: 1;

}

.info-header {
  display: flex;
  padding: 0.2vw 1vw;
  align-items: center;
  gap: 1em;
}

.red {
  width: 9px;
  border-radius: 50%;
  height: 9px;
  background: #e06155;
}

.yellow {
  width: 9px;
  background: #ecb900;
  height: 9px;
  border-radius: 50%;
}

.colors {
  display: flex;
  gap: 5px;
}

.green {
  width: 9px;
  height: 9px;
  background-color: #62bb44;
  border-radius: 50%;
}

.inh h1 {
  font-size: 13px;
}

.vara {
  width: 100%;
  height: 1px;
  background-color: #00000030;
}

.info-profile {
  width: 100%;
  height: auto;
  /* background-color: red; */
}

.info-profile {
  display: flex;
  padding: 1vw 1vw;
  gap: 1em;
  align-items: center;
}

.primg img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


.secchapter {
  width: 100%;
  height: auto;
}


.prcon h1 {
  font-size: 13px;
}

.secchapter {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1vw 1vw;
  font-size: 14px;
  color: #7a7a7a;
  background-color: rgb(255 255 255);
}

.thirdchapter {
  display: flex;
  padding: 1vw 2vw;
  color: #000000;
  flex-direction: column;
  gap: 0.4em;
}

.thirdchapter h1 {
  font-size: 13px;
}

.two {
  display: flex;
  gap: 2em;
}


















/* === Animation === */
@keyframes slideUp {
  from {
    transform: scale(0.5) ;
    opacity: 0;
  }

  to {
    transform: scale(1) ;
    opacity: 1;
  }
}



/* === Responsive Design === */
@media (max-width: 768px) {
  .dragimg img {
    width: 50px;
    height: 50px;
  }

  .Absolutly {
    z-index: 99999999;
  }

  .info-panel {
    height: 70vh;
    width: 75%;
    left: 58%;
    padding: 1.2rem;
  }

  .info-header h2 {
    font-size: 1.2rem;
  }

  .info-description {
    font-size: 0.9rem;
  }
}