* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #ebebeb;
  height: 100%;
  font-family: neuw;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: neuw;
  src: url("./fonts/sh.ttf");
}

@font-face {
  font-family: has;
  src: url("./fonts/Fontspring-DEMO-integralcf-regular.otf");
}
